<%- include("../partials/header") %>

<div class="row justify-content-center">
	<div class="col-md-12 text-center">
		<h1>
			Edit <%= user.username %> Profile
		</h1>
	</div>
	
	<div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
		<form action="/users/<%= users.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
			<label for="inputFirstName" class="sr-only">Firstname</label>
			<input type="text" id="inputFirstName" class="form-control" name="user[firstName]" value="<%= users.firstName %>" required>
			<label for="inputLastName" class="sr-only">Lastname</label>
			<input type="text" id="inputLastName" class="form-control" name="user[lastName]" value="<%= users.lastName %>" required>
			<label for="inputEmail" class="sr-only">Email</label>
			<input type="email" id="inputEmail" class="form-control" name="user[email]" value="<%= users.email %>" required>
			<label for="avatar">Image</label>
			<input type="file" id="avatar" name="avatar" accept="image/*">
			<label for="inputDescription" class="sr-only">Description</label>
			<input type="text" id="inputDescription" class="form-control" name="user[description]" value="<%= users.description %>" required>
			<label for="inputAdminCode" class="sr-only">AdminCode</label>
			<input type="password" id="inputAdminCode" class="form-control" name="adminCode" placeholder="admin Code (For Admin Only)">
		</form>
		<a href="/optics">Go Back</a>
	</div>
</div>

<%- include("../partials/footer") %>