<%- include("../partials/header") %>

<div class="row">
	<div class="col-md-4">
		<h1>
			<%= user.firstName + " " + user.lastName %>
		</h1>
		<div class="card">
			<img src="<%= user.avatar %>" class="card-img-top" alt="user profile image">
			<div class="card-body">
				<a href="/follow/<%= user.id %>">
					<button class="btn btn-primary">Follow <%= user.username %></button>
				</a>
				<div class="caption">
					<a href="mailto:<%= user.email %>"><%= user.email %></a>
				</div>
			</div>
			<p class="card-text"><%= user.description%></p>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row">
			<div id="card-columns" class="card-columns">
				<% optics.forEach(function(optics){ %>
				<div class="card card-pin">
					<img src="<%= optics.image %>" class="card-img-top" alt="<%= optics.name %>">
					<a href="/optics/<%= optics.slug %>">
						<div class="overlay">
							<h5 class="card-title title"><%=optics.name %></h5>
						</div>
					</a>
				</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>